* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 20px 150px 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
}

.hero-text {
  max-width: 450px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px 0 20px;
}

.hero-text button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.hero-image {
  background-color: gray;
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
}

.info {
  padding: 60px 150px 100px;
  text-align: center;
}


.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-bottom: 50px;
}


.info-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}


.card {
  max-width: 160px;
}


.box {
  width: 160px;
  height: 160px;
  border: 4px solid #3882F6;
  border-radius: 15px;
  margin-bottom: 10px;
}


.card p {
  font-size: 14px;
  color: #1F2937;
}


.quote {
  background-color: #E5E7EB;
  padding: 100px 250px;
}




.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}




.quote-author {
  text-align: right;
  font-weight: 900;
  margin-top: 20px;
}




.cta {
  padding: 100px 150px;
}




.cta-box {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 50px 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.cta-text h3 {
  font-size: 24px;
}




.cta-text p {
  font-size: 18px;
  color: #E5E7EB;
}




.cta-button {
  background-color: transparent;
  border: 2px solid #F9FAF8;
  color: #F9FAF8;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}




.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  text-align: center;
  padding: 30px;
  font-size: 14px;
}


